*{
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --primary-black: #292929;
  --primary-white: #fff;

  /* Accent Colors */
  --accent-blue: #0197F6;
  --accent-grey: #9A9A9A;
  --accent-lightgrey: #D6D6D6;
}

body {
  height: 100vh;
}

header {
  background-color: var(--primary-black);
  padding: 10px;
  height: 10%;
}

.logo {
  height: 50px;
  width: auto;
}

aside {
  height: 85%;
  background-color: var(--accent-grey);
  width: 17%;
}

footer {
  height: 5%;
  color: var(--primary-white);
  background-color: var(--primary-black);
  
}